.orderFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.orderForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin-bottom: 50px;
}

.twoColumnsContainer {
  display: flex;
}

@media (width <= 592px)  {
  .twoColumnsContainer {
    display: flex;
    flex-direction: column;
  }
}

.twoColumn {
  flex-grow: 1;
}

input {
  flex-grow: 1;
  border-radius: 4px;
  border: 1px solid rgba(100, 108, 255, 0.1);
  padding: 1em 1.2em;
  margin: 0 5px 5px 0;
  font-size: 1em;
  font-weight: 300;
  font-family: inherit;
  background-color: #fff;
  transition: border-color 0.25s;
}
input:hover {
  border-color: #646cff;
}
input:focus,
input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h2 {
  width: 100%;
  text-align: center;
  border-radius: 6px;
  background-color: rgba(97, 239, 87, 0.762);
  padding: 10px;
}