.orderFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.orderForm {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.twoColumnsContainer {
  display: flex;
  justify-content: space-evenly;
}

.twoColumn {
  flex-grow: 1;
}